
*./__pycache__/
*.pyc
*.mo
#*.gitignore
/log
/static/

/venv
/.DS_Store
*/.DS_Store
.DS_Store

# Sphinx docs
docs/build

# IDEs settings
.idea
.vscode

# db.sqlite3
db.sqlite3


# Vue project by vite
node_modules
dist
dist-ssr
*.local
